<template>
  <div id="app">
    <h2>tesst beata</h2>
    <HelloWorld msg="Welcome to Your Vue.js App" />
    <p>test conflict</p>
    <p>1</p>
    <p>2</p>
    <p>3</p>
  </div>
</template>

<script>
import HelloWorld from "./components/HelloWorld.vue";

export default {
  name: "App",
  components: {
    HelloWorld,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
